@model IEnumerable<PersonalTaxCalculator.Models.TaxRateModel>

@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h1>Personal Tax Calculator</h1>
    <p class="lead">a simple tax calculator for calculating New Zealand individual income tax.</p>
</div>

<div>
    <form id="myForm" method="post">
        <input type="text" name="AnnualSalary" placeholder="Insert Annual Salary" maxlength="10"/>
        <input type="submit" name="Calculate" value="Calculate" class="btn btn-primary btn-md"/>
    </form>
</div>
<div>
    <p><span class="label label-warning">@ViewBag.Message</span></p>
</div>

<div>
    <h2>Income Tax Rates @ViewBag.Salary</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BandStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxRatePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxCollected)
            </th>
        </tr>
        @if(Model != null)
        { 
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BandStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BandFinish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxRatePercent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxCollectedForDisplay)
                    </td>
                </tr>
            }
        
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><h3>Total @Html.DisplayNameFor(model => model.TaxCollected)</h3></td>
                <td><h3>@Model.Sum(x => x.TaxCollected).ToString("C")</h3></td>
            </tr>
        }
    </table>   
</div>